* {
    background-color: beige;
    
}

#title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-left: 1em;
    color: saddlebrown;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    padding: 2px;
    flex-direction: column;
    align-items: stretch;
    

}

.recipe1{
    margin-bottom: 10px;
    
}

.recipe2{
    margin-bottom: 10px;

}


